.subtitle {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #1d4ed8;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .subtitle {
    color: #7dd3fc;
  }
}
